<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mrhao.personalutiltest">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- 运行时权限，要设置申请 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 运行时权限，要设置申请 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- 运行时权限，要设置申请 -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" /> <!-- 腾讯bugly及应用更新所需权限 -->
    <!-- <uses-permission android:name="android.permission.READ_PHONE_STATE" />  &lt;!&ndash;运行时权限，要设置申请&ndash;&gt; -->
    <!-- <uses-permission android:name="android.permission.INTERNET" /> -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:resizeableActivity="true"
        android:name=".myclass.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/knowledgetree"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/knowledgetree"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".myactivity.CoordinatorMenuAct"></activity>
        <activity android:name=".myactivity.DrawerLayoutActivity" />
        <activity android:name=".myactivity.JavaExeActivity" />
        <activity android:name=".myactivity.TencentX5WebActivity" />
        <activity android:name=".myactivity.AppUpdateAct" />
        <activity android:name=".myactivity.FunctionDescAct" />
        <activity android:name=".myactivity.LoadingActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />

        <receiver android:name=".myinterface.UpdateInstallReceiver">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
                <action android:name="android.intent.action.DOWNLOAD_NOTIFICATION_CLICKED" />
            </intent-filter>
        </receiver> <!-- 腾讯bugly应用升级Activity配置 -->
        <activity
            android:name="com.tencent.bugly.beta.ui.BetaActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:theme="@android:style/Theme.Translucent" /> <!-- 腾讯bugly应用升级FileProvider配置 -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <!--适配小米（xiaomi）刘海屏-->
        <meta-data
            android:name="notch.config"
            android:value="portrait|landscape" />

    </application>

</manifest>